{% extends "all-posts/base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block content %}


    {% for project in projects %}
   
   
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                    <article class="">
                            <div class="">
                            <div class="">
                                <div class="row post">
                                    <div class="col-sm-12 col-md-7 col-lg-6 ">
                                            <div class="card ">
                                                <div class="nameavatar">
                                                       <img src="{{project_pic.image.url}}" alt="Avatar" class="avatar ml-2 mr-2 mt-2"> 
                                                        <a class="mr-2 mt-4" href="#">{{ project.author }}</a>
                                                            
                
                                                </div>
                                                   
                                                    <hr>
                                                    <small class="text-muted post1">{{ post.date_posted}}</small>
                                                  
                                                 
                                                
                                            

                                                    
                                                    
                                            </div>
                                    </div>
                                        
                                </div>
                                
                            </div>
                            </div>
                        </article>
    

            </div>
                
        </div>
            

    </div>
        
    {% endfor %}
 
{% endblock content %}