{%extends 'all-posts/base.html'%}

 {% block content %}

 <div class="container">

  <div class="jumbotron">
    <h1 class="display-3">Welcome to rate.me</h1>
    <p class="lead">Rate , post and view projects ! </p>
    <hr class="my-4">
    <p>Rate a project today </p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Sign Up</a>
    </p>
  </div>

   <div class="row">
     <h1 class="text-center"></h1>
   </div>

   <div class="row">
     {% autoescape on %}
     
    {% endautoescape %}

   </div>

   <div class="row">
     <p></p>
   </div>

 </div>

 {% endblock %}