{% extends "all-posts/base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block content %}

<div class="container">
        <div class="span3 well mt-5">
            <center>
            <a href="#aboutModal" data-toggle="modal" data-target="#myModal"><img src="{{profile.prof_pic.url}}" name="aboutme" width="140" height="140" class="img-circle"></a>
            <h3 class="sign"style="color: green;">{{profile.user}}</h3>
            <em class="sign" style="color: blue;">click my face for more</em>
            </center>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" >
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title sign" style="color: blue;" id="myModalLabel sign">More About {{profile.user}}</h4>
                        </div>
                    <div class="modal-body">
                        <center>
                        <img src="{{profile.prof_pic.url}}" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                        <h3 class="media-heading sign" style="color: green;">{{profile.user}}</h3>
                       
                        </center>
                        <hr>
                        <center>
                        <p class="text-left sign" style="color: orangered;"><strong>Bio: </strong><br>
                            {{profile.bio}}</p>
                            <p class="text-left sign" style="color: blue;"><strong>Contact: </strong><br>
                                {{profile.contact}}</p>
                        <br>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <center>
                        <button type="button" class="btn btn-outline info sign" data-dismiss="modal">I've heard enough about {{profile.user}}</button>
                        <!-- <a href="{%url 'update_profile'  %}"><button type="button" class="btn btn-default" data-dismiss="modal">Update profile</button></a>  -->
                        </center>
                    </div>
                </div>
            </div>
        </div>

    {% for project in projects %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12">
                <div class="col-md-3 col-lg-3 col-sm-12">
                        <div class="card mb-3 mt-3 project">
                                <h3 class="card-header">{{project.title}}</h3>
                                <img style="height: 200px; width: 100%; display: block;" src="{{project.project_pic.url}}" alt="Card image">
                                <div class="card-body">
                                  <p class="card-text">{{project.description}}</p>
                                  <p class="card-text text-muted">by {{project.author}}</p>
                                </div>
                              
                              
                                <div class="card-footer text-muted">
                                    {{project.date_posted}}
                                </div>
                              </div>
                </div>
                   
            </div>
            
        </div>
        
     
    </div>
    

        
    {% endfor %}
 
    </div>

    {% endblock content %}